@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Test</title>
    

	<script src="~/Scripts/jquery-3.6.1.min.js"></script>

</head>
<body>
<div>
	<input type="text" id="Idtst"/>
</div>
</body>
</html>
<script>
    // A $( document ).ready() block.
    $(document).ready(function () {
        console.log("ready!");
    });
</script>
